version: '3.8'

services:
  trading_app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ./configs:/app/configs
      - ./notebooks:/app/notebooks
      - ./tests:/app/tests
      - ./scripts:/app/scripts
    environment:
      - ENV_FILE=.env
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trading_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: